<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="/assets/js/lightbox.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    // Build the image grid
    var $grid = $('.grid').imagesLoaded( function() {
      $grid.masonry({
        itemSelector: '.grid-item',
        percentPosition: true,
        columnWidth: '.grid-sizer',
        gutter: '.gutter-sizer'
      });
    });
    // Toggle darkmode on/off
    var toggle = $("button.dark-toggle-switch");
    var elements = toggle.add("body, footer");
    toggle.click(function(){
      elements.toggleClass("darkmode--active");
     });
  });
</script>
