<script src="/assets/js/lightbox.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    // Build the image grid
    var $grid = $('.grid').imagesLoaded( function() {
      $grid.masonry({
        itemSelector: '.grid-item',
        percentPosition: true,
        columnWidth: '.grid-sizer',
        gutter: '.gutter-sizer'
      });
    });
    // Toggle darkmode on/off
    var elements = $(".dark-toggle-switch, body, footer");
    $(".dark-toggle-switch").click(function(){
	     elements.toggleClass("darkmode--active");
     });
  });
</script>
