---
---
@import "minima";
/** DEFAULT **/
/*** Colors ***/
body {
  background-color: RGB(230, 235, 242);
}
/*** Page Styles ***/
/**** Containers ****/
html, body {
  width: 100%;
  max-width: 100%;
}
header, main, footer {
  margin: auto;
  width: 90%;
  max-width:1800px;
}
/*** Header ***/
.site-header {
  margin-top: 25px;
  border: none;
}
#logo {
  display: block;
  margin: auto;
}
/*** Fonts ***/
footer p {
  text-align: center;
  font-weight: 300;
  font-size: 11px;
}
/*** Image Grid ***/
/**** Clearfix ****/
.grid:after {
  content: '';
  display: block;
  clear: both;
}
/**** Grid Item ****/
.grid-sizer,
.grid-item {
  width: 100%;
}
.gutter-sizer {
  width: 0px;
}
.grid-item {
  float: left;
  margin-bottom: 5px;
}
.grid-item img {
  display: block;
  width: 100%;
}
/*** Dark Mode ***/
body.darkmode--active {
  background-color: rgb(36, 37, 38);
}
.dark-toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 48px;
    height: 22px;
    position: absolute;
    vertical-align: middle;
    transition: background 0.25s;
    left: 60%;
    top: 50px;
}

.dark-toggle-switch::before, .dark-toggle-switch::after {
    content: "";
}

.dark-toggle-switch::before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.darkmode--active.dark-toggle-switch::before {
    left: 30px;
}
.darkmode--active.dark-toggle-switch {
  background-color: #4c4b52;
}

/** END DEFAULT **/
/** TABLET **/
@media (min-width: 520px) {
  /*** Image Grid ***/
  .grid-sizer,
  .grid-item {
    width: 49.5%;
  }

  .gutter-sizer {
    width: 0.5%;
  }
  .grid-item {
    float: left;
    margin-bottom: 0.5%;
  }
  .grid-item img {
    display: block;
    width: 100%;
  }
}
/** END TABLET **/
/** DESKTOP **/
@media (min-width: 980px) {
  /*** Image Grid ***/
  .grid-sizer,
  .grid-item {
    width: 32.8333%;
  }

  .gutter-sizer {
    width: 0.5%;
  }
  .grid-item {
    float: left;
    margin-bottom: 0.5%;
  }
  .grid-item img {
    display: block;
    width: 100%;
  }
}
/** END DESKTOP **/
