---
---
@import "minima";
/** DEFAULT **/
/*** Colors ***/
html, body, footer {
  background-color: RGB(230, 235, 242);
}
/*** Page Styles ***/
/**** Containers ****/
body, footer {
  margin: auto;
  width: 90%;
}
main {
  max-width:1800px;
}
/*** Header ***/
.site-header {
  margin-top: 25px;
  display: flex;
  border: none;
}
#logo {
  margin: auto;
}
/*** Fonts ***/
footer p {
  text-align: center;
  font-weight: 300;
  font-size: 11px;
}
/*** Image Grid ***/
/**** Clearfix ****/
.grid:after {
  content: '';
  display: block;
  clear: both;
}
/**** Grid Item ****/
.grid-sizer,
.grid-item {
  width: 100%;
}
.gutter-sizer {
  width: 0px;
}
.grid-item {
  float: left;
  margin-bottom: 5px;
}
.grid-item img {
  display: block;
  width: 100%;
}
/** END DEFAULT **/
/** TABLET **/
@media (min-width: 520px) {
  /*** Image Grid ***/
  .grid-sizer,
  .grid-item {
    width: 49.5%;
  }

  .gutter-sizer {
    width: 0.5%;
  }
  .grid-item {
    float: left;
    margin-bottom: 0.5%;
  }
  .grid-item img {
    display: block;
    width: 100%;
  }
}
/** END TABLET **/
/** DESKTOP **/
@media (min-width: 980px) {
  /*** Image Grid ***/
  .grid-sizer,
  .grid-item {
    width: 32.8333%;
  }

  .gutter-sizer {
    width: 0.5%;
  }
  .grid-item {
    float: left;
    margin-bottom: 0.5%;
  }
  .grid-item img {
    display: block;
    width: 100%;
  }
}
/** END DESKTOP **/
