---
---

@import "minima";

html {
  background-color: RGB(230, 235, 242);
}
body {
  margin: auto;
  width: 80%;
}
footer {
  width: 80%;
  margin: auto;
}
footer p {
  text-align: center;
  font-weight: 300;
  font-size: 11px;
}
