<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      {%- assign images site.static_content | where: "extname", ".jpg" -%}
      <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
        {%- for image in images -%}
        <div class = "grid-item"><img src="{{ image.path }}"></div>
        {%- endfor -%}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
